* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 7px  #000, 1px 1px 7px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
    min-height: 760px;
    color: white;
    cursor: default;
    padding: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: background-image 1s 0.1s ease-in-out;
}

.header-container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
}

.main-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.editable {
    border-bottom: 2px solid transparent;
}

.editable:focus {
    min-width: 40px;
    border-bottom: 2px solid white;
    outline: none; 
}

.editable:hover {
    background-color: rgba(252,252,252,0.5);
    transition: .2s ease-in-out;
    cursor: pointer;
}

.btn-container {
    display: flex;
}

.change-btn {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    height: 52px;
    width: 52px;
    float:left;
    position: relative;			
    transition: all .1s linear;
}

.change-btn:after{
    color:#e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}

#change-bg { margin-right: 20px;}
#change-bg:after{
    content: "🌸";
    left: 10px;
    top: 8px;
}

#change-quote:after{
    content: "🐱";
    left: 10px;
    top: 9px;
}

.change-btn:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

#change-bg:hover:after{ text-shadow:0px 0px 6px #f94e66; }
#change-quote:hover:after{ text-shadow:0px 0px 6px #f99e4e; }

.change-btn:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.change-btn:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

.weather-container {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(51, 55, 56, 0.3);
}

.city {
    margin-bottom: 5px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
}

.weather-wrapper {
    display: flex;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    justify-content: flex-end;
}

.icon-temp {
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.time {
    font-size: 11rem;
    font-weight: 700;
    text-align: center;
    line-height: 80%;
    margin-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace; 
}

.separator {
    font-family: 'Quicksand', sans-serif;
}

#date-today {
    font-size: 3rem;  
}

.greeting-wrapper {
    font-size: 3.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

#name { display: inline-block; }
#focus:focus { min-width: 100px; }
h2 { font-size: 2.2rem;}

.quote {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    height: 72px;
    align-items: flex-end;
  }

  .invalid-input { display: none; }

@media (max-width: 1000px) {

    body { min-height: 600px; }
    #date-today { font-size: 1.5rem; }
    .time { font-size: 6rem; }  
    
    .greeting-wrapper {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }

    h2 { font-size: 1.5rem; }
    
}

@media (max-width: 600px) {

    body {
        padding: 4px;
        min-height: 568px;
    }

    .header-container {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 10px;  
    }

    .weather-container { margin-bottom: 5px; }

    .city {
        font-size: 1rem;
        font-weight: 400;
    }

    #date-today { font-size: 1.2rem; }
    .time { font-size: 4rem; }
    
    .greeting-wrapper {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }

    #greeting { margin-right: 0; }
    h2 { font-size: 1rem; }

    .quote {
        font-style: italic;
        font-size: 14px; 
    }
}

